@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-video {
  background-image: url('https://nationalparks-15bc7.kxcdn.com/images/parks/llogara/Llogara%20National%20Park.jpg')
} 

.custom-img {
  background-image: url('https://media.istockphoto.com/id/1433095008/sv/foto/save-the-date-written-cut-out-yellow-adhesive-notes-sitting-over-blue-background.jpg?s=612x612&w=0&k=20&c=f6B8uRIw83lsTy9lo3xDtylXxtDkCM5zG84QU1ocNmA=')
} 


