@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-video {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj0RacOCy_E5EaEKCHI0-YQfLkKjBkNFdeyfAB0tx9rR1G5ErozC-McXDn8n6rHDU8R-c&usqp=CAU')
} 




